@model IEnumerable<MVC_PustokPlus.Areas.Admin.ViewModels.AdminProductImageListVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Product Images</h6>
        <a asp-action="Create" class="btn btn-outline-success">Create</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <section class="hero-area hero-slider-1">
                        <h1>@item.ProductName :</h1>
                        @if (item.CustomImages == null)
                        { 
                            <a>nothing</a>
                        }
                        else
                        {
                            <div class="sb-slick-slider" data-slick-setting='{
                                        "autoplay": true,
                                        "fade": true,
                                        "autoplaySpeed": 3000,
                                        "speed": 3000,
                                        "slidesToShow": 1,
                                        "dots":true
                                        }'>
                            @foreach(var imageInfo in item.CustomImages)
                            {
                                @if(imageInfo != null)
                                {
                                <div class="single-slide bg-shade-whisper  ">
                                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@imageInfo.Id">Delete</a>
                                    <div class="container">
                                        <div class="home-content text-center text-sm-left position-relative">
                                            <div class="hero-partial-image image-right">
                                                <img src="~/@imageInfo.ImagePath" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                }
                            }                                        
                            </div>
                        }
                    </section>
                }
            }
            
        </div>
    </div>
</div>
